.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid var(--font-light-color);
  padding: 4px 0;
  width: 100%;
  z-index: 999;
  background-color: var(--background-color-two);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  object-fit: contain;
  height: 38px;
  margin-right: 7px;
}

.header-search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 38px;
  color: var(--font-light-color);
  background-color: var(--search-back-color);
}

.header-search input {
  outline: none;
  border: none;
  background: none;
  margin-left: 10px;
  width: 250px;
}

.header-right {
  display: flex;
}
