.sidebar {
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  width: 250px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--background-color-two);
}

.top-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-avatar {
  margin-bottom: 20px;
  height: 40px !important;
  width: 40px !important;
}

.sidebar-top img {
  margin-bottom: -20px;
  width: 100%;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.top-profile h2 {
  font-size: 17px;
  margin-bottom: 4px;
  cursor: pointer;
  font-weight: 700;
  color: var(--font-bold-color);
}

.top-profile h4 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--font-light-color);
  line-height: 16px;
}

.top-stats {
  width: 100%;
  padding: 7px 7px;
  border-top: 1px solid var(--border-color);
}

.sidebar-stat {
  margin: 4px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  cursor: pointer;
}

.sidebar-stat:hover {
  background-color: var(--hover-back-color);
}

.sidebar-stat p {
  color: var(--font-bold-color);
  font-size: 13px;
  font-weight: 600;
}

.sidebar-stat-number {
  font-weight: bold;
  color: #0a66c2 !important;
}

.top-premium {
  border-top: 1px solid var(--border-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px 10px;
}

.top-premium:hover {
  background-color: var(--hover-back-color);
  cursor: pointer;
}

.top-premium p {
  color: var(--font-light-color);
  font-size: 12px;
  font-weight: 600;
  margin: 5px 7px;
}

.price {
  display: flex;
  margin: 0 7px;
  margin-bottom: 7px;
}

.price h2 {
  color: var(--font-bold-color);
  font-size: 13px;
  font-weight: 700;
}

.premium-icon {
  color: gold !important;
  font-size: 20px !important;
  margin-right: 4px;
}

.top-save {
  display: flex;
  border-top: 1px solid var(--border-color);
  width: 100%;
  padding: 5px 7px;
  align-items: center;
  padding-bottom: 14px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.top-save p {
  color: var(--font-bold-color);
  font-size: 12px;
  font-weight: 700;
  margin-left: 4px;
  margin-top: 10px;
}

.save-icon {
  font-size: 20px !important;
  color: var(--font-bold-color) !important;
  margin-top: 8px !important;
  margin-left: 10px !important;
}

.top-save:hover {
  background-color: var(--hover-back-color);
  cursor: pointer;
}

.sidebar-botttom {
  text-align: left;
  padding: 17px;
  background-color: var(--background-color-two);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-top: 7px;
}

.sidebar-botttom p {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px;
  color: var(--font-bold-color);
}

.sidebar-recent-item {
  display: flex;
  color: var(--font-light-color);
  cursor: pointer;
  margin: 10px 0;
  border-radius: 7px;
  padding: 0 7px;
}

.sidebar-recent-item p,
.sidebar-recent-item span {
  font-weight: 400;
  font-size: 13px;
}

.sidebar-recent-item:hover {
  background-color: var(--hover-back-color);
}
