@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  cursor: default;
}

:root {
  --background-color-one: #f4f2ee;
  --background-color-two: #ffffff;
  --font-bold-color: #191919;
  --font-light-color: #666666;
  --search-back-color: #edf3f8;
  --hover-back-color: whitesmoke;
  --image-color: none;
}

[data-theme= 'dark'] {
  --background-color-one: #000000;
  --background-color-two: #1B1F23;
  --font-bold-color: #E9E9E9;
  --font-light-color: #BBBCBD;
  --search-back-color: #384345;
  --hover-back-color: #55535389;
  --image-color: invert(99%) sepia(0%) saturate(2%) hue-rotate(77deg) brightness(107%) contrast(101%);
}

body {
  background-color: var(--background-color-one);
}